{% extends 'accounts/base.html' %}
{% load static %}
{% block details %}
<div class="flex flex-row items-center justify-between">
    <div>
        <h3 class="md:text-[32px] font-semibold capitalize">Collections</h3>
        <p class="text-xs font-medium text-[#525156] md:hidden">Add your collection here by creating album</p>
    </div>
    <a href="{% url 'add-collection' %}" class="px-[10px] py-1.5 rounded-md bg-[#EAECEF]">
        <span class="text-xs md:text-base font-semibold capitalize whitespace-nowrap">Create Album</span>
    </a>
</div>
<div class="h-[1px] bg-[#1e232933] w-full mt-5 md:mt-6 md:hidden"></div>
<div class="md:hidden flex flex-row items-center justify-end mt-4">
    <div class="flex flex-row items-center justify-between gap-5">
        <span class="text-sm font-normal hidden md:block">Sort by:</span>
        <div x-data="{ isModalOpen: false }"
            class="z-[1000] flex flex-row items-center justify-between border px-2 md:p-4 py-1.5 md:w-[200px] gap-x-1.5 md:gap-x-16 rounded-md md:rounded-none relative">
            <span class="text-xs md:text-base font-normal capitalize"><span class="md:hidden inline">Sort: </span>Featured</span>
            <button @click="isModalOpen = true" class="w-3 h-3">
                <img class="md:hidden" src="{% static 'icons/sort.svg' %}" />
                <img class="hidden md:block" src="{% static 'images/arrow.svg' %}" />
            </button>
            <div x-show="isModalOpen" @click.away="isModalOpen = false" x-transition
                class="absolute right-0 space-y-2.5 z-10 rounded-md shadow-lg top-[30px] md:top-12 h-[120px] w-[200px] bg-white py-2">
                <nav class="flex flex-col items-start justify-start border">
                    <button onclick="updateSortParam('-added_on')" class="capitalize font-medium text-sm text-[#525156] px-4 py-2">Newest </button>
                    <!-- <button onclick="updateSortParam('-price')" class="capitalize font-medium text-sm text-[#525156] px-4 py-2">Price High to Low </button> -->
                    <!-- <button onclick="updateSortParam('price')" class="capitalize font-medium text-sm text-[#525156] px-4 py-2">Price Low to High </button> -->
                    <button onclick="updateSortParam('name')" class="capitalize font-medium text-sm text-[#525156] px-4 py-2">Name A-Z </button>
                    <button onclick="updateSortParam('-name')" class="capitalize font-medium text-sm text-[#525156] px-4 py-2">Name Z-A </button>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="grid grid-cols-2 lg:grid-cols-3 gap-[30px] mt-12">
    {% for collection in collections %}
        <a href="{% url 'collection-detail' collection.id %}" class="w-[175px] h-[186px] md:w-[300px] md:h-[300px] flex flex-col items-center p-4 md:p-[25px] shadow-md rounded-sm">
            <div class="w-fit h-1/2 overflow-clip">
                {% if collection.image %}
                    <img class="w-full object-cover" src="{{ collection.image.url }}" />
                {% else %}
                    <img class="w-full object-cover" src="" />
                {% endif %}
            </div>
            <div class="mt-1.5">
                <p class="md:text-2xl font-bold">{{ collection.name }}</p>
                <p class="text-xs md:text-base font-normal text-[#525156]">{{ collection.total_cards }} items</p>
            </div>
        </a>
    {% endfor %}
    <div class="w-[175px] h-[186px] md:w-[300px] md:h-[300px] grid place-items-center p-4 md:p-[25px] shadow-md rounded-sm">
        <a href="{% url 'add-collection' %}" class="underline capitalize">+ Create your album</a>
    </div>
</div>
<script>
    function updateSortParam(param) {
        const params = new URLSearchParams(window.location.search);
        params.delete("sort");
        params.set("sort", param);
        window.location.search = params.toString();
    }
</script>
{% endblock %}