{% extends "base.html" %} 
{% load static %}
{% block content %}
<div class="max-w-[1240px] mx-auto bg-white border border-[#DDE2E4] rounded-2xl p-[50px] mt-[50px]">
    <div class="flex flex-col justify-start items-center w-full gap-[20px]">
        <h2 class="text-[36px] font-kumbh-sans font-bold">Forgot password</h2>
        <p>Enter your email for further instructions</p>
        <!-- form -->
        <form method="post">
            {% csrf_token %}
            <div class="flex flex-col justify-start items-start gap-4">
                {{ form.email }}
                <button class="bg-primary text-white clear-start w-full py-3 text-lg rounded-lg font-semibold">
                    Send
                </button>
            </div>
        </form>
        {% if messages %}
            <div class="mt-4">
                {% for message in messages %}
                <div class="text-center">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
